// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// GLOBAL STYLES

// Adding a space after an icon globablly
ion-icon {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}


// COMPONENT STYLES

app-pendings, app-done {

  h2 {
      color: white !important;
  }

// Show "No existe ninguna lista" or "There is no list" in vertical and horitzonal
  .empty-box {
    color: #C7C7C7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

      p {
        font-size: 30px;
      }
  }

  .icon-big{
    font-size: 100px;
  }
}

app-detail {
  ion-icon {
    margin-right: 0px !important;
  }
}
